version: 2.1

orbs:
  node: circleci/node@5.2.0
  github-cli: circleci/github-cli@2.3.0

jobs:
  Lint PR title:
    executor: node/default
    steps:
      - github-cli/install
      - checkout
      - node/install-packages
      - run:
          name: commitlint
          command: gh pr view --json title --jq .title | npx commitlint

workflows:
  PR checks:
    jobs:
      - Lint PR title

  Lint-test-build:
    jobs:
      - node/run:
          name: Lint
          npm-run: lint
      - node/test:
          name: Test
          test-results-for: jest
      - node/run:
          name: Build
          npm-run: build
